:host {
    display: block;
    height: 100%;
    width: 100%;
}

estadisticas {
    mat-card {
        @apply rounded-lg shadow-sm;
    }

    .mat-mdc-form-field {
        width: 100%;
    }
}

:host ::ng-deep {
    tr.h-0 {
        height: 0 !important;

        td {
            border-bottom-width: 0 !important;
            padding: 0 !important;
        }
    }

    .element-row {
        cursor: pointer;
    }
}
